*{
    text-align: center;
}
body{
    background-image: url(../_imagens/japao.jpg);
}
tr,td{
  background-color: #D3D3D3;
    border:3px solid #FFFFE0 ;
}
th{
    color:white;
    background-color: #800000 ;
}
table{
    border-radius: 2px;
    width: 100%;
    border: 3px solid #FFFFE0;
    }
hr{
   border: 5px solid #F08080;
}
#titulo{
    color: #F08080;
}
#destino{
    color: #F08080; 
}
#nomezin{
    text-align-last: right;
    width: 100%;
    color: red;

}


img {
    height: 100px;
    width: 200px;
}
p{
    color: white;
}
input{
    
    text-align:left;
    width: 99%;
    background-color: #D3D3D3;
    border: 3px solid #FFFFE0;
}
form{
    border: 3px solid #FFFFE0;
    margin: auto;
    width: 64%;
}   
h1{
    color: #F08080;
}
